*
!.gitignore
!.vim/autoload
!.vim/colors
!.vimrc
!.bash_profile
!.bashrc
!.config/fish/functions/fish_user_key_bindings.fish
!.config/fish/functions/fish_default_mode_prompt.fish
!.config/fish/functions/fish_prompt.fish
!.config/fish/functions/get_current_git_branch.fish
